@import "requester-table-loader.css";

#requester-data {
	border: 1px solid rgb(228, 228, 228);
}
.requester-table caption {
	padding: 8px 10px;
	font-weight: bold;
	font-size: 24px;
	padding: 15px 0 20px 0;
}
.requester-table table {
	min-width: 400px;
	border-collapse: collapse;
	color: #444;
}
.requester-table th,
.requester-table td  {
	text-align: center;
	padding: 10px;
}
.requester-table caption,
.requester-table thead th {
	background-color: rgb(243, 243, 243);
	border: none;
}
.requester-table thead th {
	font-size: 16px;
	line-height: 18px;
	border-bottom:3px solid #ff982d;
}
.requester-table tbody {
	background-color: #fff;
}
.requester-table tbody tr:hover {
	background-color: #ff992d1f;

}
.requester-table tbody td {
	font-size: 16px;
	border: none;
}
