.requester-table caption {
	background-color: #fff;
	padding: 8px 10px;
	font-weight: bold;
	font-size: 16px;
	border: 1px solid #c3c4c7;
	border-bottom: none;
}

.requester-table {
	background: #012b39;
	border-radius: 0.25em;
	border-collapse: collapse;
	margin: 1em;
}
.requester-table th {
	border-bottom: 1px solid #364043;
	color: #e2b842;
	font-size: 0.85em;
	font-weight: 600;
	padding: 0.5em 1em;
	text-align: left;
}
.requester-table td {
	color: #fff;
	font-weight: 400;
	padding: 0.65em 1em;
}
.disabled td {
	color: #4f5f64;
}
.requester-table body tr {
	transition: background 0.25s ease;
}
.requester-table tbody tr:hover {
	background: #014055;
}
